body {
  min-width:320px;
}

label {
  cursor:pointer;
}
label:hover {
  background-color: #ccffff;
}

div.areaTitle {
  margin: 2px;
  padding: 2px 10px;
  font-size:11pt;
  font-weight: bold;
  color: #efefef;
  border-left:5px solid #006;
  -webkit-border-radius: 12px;
  background: -webkit-gradient(linear, left top, right top,  
            from(rgba(0,0,128,1)),  
            to(#fff));
}


div.tabItem {
  font-size:10pt;
}
div.tabItem:nth-child(even) {
  background-color: #eeeeee;
}
div.tabItem:nth-child(odd) {
  background-color: #ffffff;
}


div.all_check_area {
  margin-left: 40px;
  padding: 2px;
  color: #009;
  display:inline;
  background: #eeeeee;
  border:1px slid #00f;
  -webkit-border-radius: 4px;
}

#target_area {
  padding: 5px 10px;
  border:1px dotted #666;
  -webkit-border-radius: 8px;
}

#all_check {
}

#all_check label {
}

#tabs {
  border:1px dashed #999;
  height:320px;
  max-width: 360px;
  overflow:scroll;
  white-space: nowrap;
}

#action_area {
}

.action_button {
  border:1px solid #25729a; -webkit-border-radius: 8px; font-family:verdana, sans-serif; padding: 6px 6px 6px 6px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #3093c7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3093c7), color-stop(100%, #1c5a85));
  background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
  background-image: linear-gradient(top, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}
.action_button:hover {
  border:1px solid #1c5675; background-color: #26759e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26759e), color-stop(100%, #133d5b));
  background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
  background-image: linear-gradient(top, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

#preview_area {
  display:none;
}

#preview {
  font-size:10pt;
  width:100%;
}

